Articus\PathHandler\RouteInjection\Factory:
  paths:
{{#apiInfo}}
    '/openapi/{{{appName}}}/v{{{version}}}':
    {{#apis}}{{#operations}}
      - {{package}}\{{classname}}
    {{/operations}}{{/apis}}
{{/apiInfo}}
  handlers:
    abstract_factories:
      - Zend\ServiceManager\AbstractFactory\ConfigAbstractFactory
#  consumers:
#    factories:
#    invokables:
#  attributes:
#    factories:
#    invokables:
#  producers:
#    factories:
#    invokables:

Zend\ServiceManager\AbstractFactory\ConfigAbstractFactory:
{{#apiInfo}}
{{#apis}}
{{#operations}}
  {{package}}\{{classname}}: []
{{/operations}}
{{/apis}}
{{/apiInfo}}

httpMethods:
{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}  {{operationId}}: {{baseName}}{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}
