Articus\PathHandler\RouteInjection\Factory:
  paths:
{{#apiInfo}}
    '/openapi/{{{appName}}}/v{{{version}}}':
    {{#apis}}{{#operations}}
      - {{package}}\{{classname}}
    {{/operations}}{{/apis}}
{{/apiInfo}}
  handlers:
    abstract_factories:
      - Zend\ServiceManager\AbstractFactory\ConfigAbstractFactory
#  consumers:
#    factories:
#    invokables:
#  attributes:
#    factories:
#    invokables:
#  producers:
#    factories:
#    invokables:

Zend\ServiceManager\AbstractFactory\ConfigAbstractFactory:
{{#apiInfo}}
{{#apis}}
{{#operations}}
  {{package}}\{{classname}}: []
{{/operations}}
{{/apis}}
{{/apiInfo}}

httpMethods:
{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}
    {{operationId}}:
       className: {{baseName}}
       bodyData: {{#bodyParam}}{{^isPrimitiveType}}{{dataType}}{{/isPrimitiveType}}{{/bodyParam}}
       queryData: {{#vendorExtensions}}{{#internal.ze-ph.hasQueryData}}{{internal.ze-ph.queryDataType}}{{/internal.ze-ph.hasQueryData}}{{/vendorExtensions}}
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}
